


<!doctype html>
<html lang="tr">
<head>
        <link rel="alternate" href="https://www.alternatifbank.com.tr/hakkimizda/basin-odasi/basin-bultenleri-ve-duyurular" hreflang="tr" />
		   <link rel="alternate" href="https://www.alternatifbank.com.tr/hakkimizda/basin-odasi/basin-bultenleri-ve-duyurular" hreflang="x-default" />
        <link rel="alternate" href="https://www.alternatifbank.com.tr/en" hreflang=" en" />
    <script nonce="tk7YmL4qIk6OM4ltX9fkvA">
    var customDefinitions = {
        userLevel: {
            cd_client_id: ""
        },
        sessionLevel: {
            cd_city: "",
            cd_district: "",
            cd_credit_type: ""
        },
        hitLevel: {
            cd_currency: "",
            cd_page_category: "",
            cd_sub_category: "",
            cd_message_topic: "",
            cd_atm_city: "",
            cd_atm_district: "",
            cd_document_referrer: ""
        }
    };
    console.log(dataLayer);
    console.log("dataLayer pageLoad");
</script>
<script nonce="tk7YmL4qIk6OM4ltX9fkvA">
    var customMetric = {
        cm_net_yield: "",
        cm_gross_yield: "",
        cm_stoppage: "",
        cm_cashtocash: "",
        cm_monthlyInstallment: "",
        cm_bankRate: "",
        cm_repaymaent: "",
        cm_term: "",
    };
    dataLayer = [];
</script>
<script nonce="tk7YmL4qIk6OM4ltX9fkvA">
    function getClientId() {
        // case-null yap gelmediğinde
        if (!window["ga"]) return null;
        const ga = window["ga"];
        return ga && ga.hasOwnProperty('getAll') && ga.getAll()[0].get("clientId");
    }
    dataLayer.push({
        event: "gaEvent",
        customDefinitions: {
            userLevel: {
                cd_client_id: getClientId()
            },
            hitLevel: {
                cd_page_category: "basin-odasi",
                cd_sub_category: "basin-bultenleri-ve-duyurular",
                cd_document_referrer: document.referrer
            }
        }
    });
</script>

<!-- Efilli -->
<script nonce="tk7YmL4qIk6OM4ltX9fkvA" src="https://eflbundles.alternatifbank.com.tr/alternatifbank.com.tr.prod.js" ></script>

	<!-- Google Tag Manager --> <script nonce="tk7YmL4qIk6OM4ltX9fkvA">     (function (w, d, s, l, i) {         w[l] = w[l] || []; w[l].push({             'gtm.start':                 new Date().getTime(), event: 'gtm.js'         }); var f = d.getElementsByTagName(s)[0],             j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =                 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);   var n = d.querySelector('[nonce]');
        if (n) {
            j.setAttribute('nonce', n.nonce || n.getAttribute('nonce'));
        }    })(window, document, 'script', 'dataLayer', 'GTM-PDWC8B5');</script> <!-- End Google Tag Manager -->


<meta charset="utf-8">
<title>
Basın Bülteni ve Duyurular | Alternatif Bank</title>

<meta name="description" content="Alternatif Bank'ın tüm basın bültenlerine ve duyurularına erişmek için tıklayın!">
<meta name="keywords" content="">
            <link rel="canonical" href="https://www.alternatifbank.com.tr/hakkimizda/basin-odasi/basin-bultenleri-ve-duyurular" />


<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="theme-color" content="#9e0d49">


<meta property="og:url" content="https://www.alternatifbank.com.tr/hakkimizda/basin-odasi/basin-bultenleri-ve-duyurular">
<meta property="og:type" content="website">
<meta property="og:title" content="Basın B&#252;lteni ve Duyurular | Alternatif Bank">
<meta property="og:description" content="Alternatif Bank'ın tüm basın bültenlerine ve duyurularına erişmek için tıklayın!">
<meta property="og:image" content="https://www.alternatifbank.com.tr/uploads/201906271524521054.png">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.alternatifbank.com.tr/hakkimizda/basin-odasi/basin-bultenleri-ve-duyurular">
<meta name="twitter:title" content="Basın B&#252;lteni ve Duyurular | Alternatif Bank">
<meta name="twitter:description" content="Alternatif Bank'ın tüm basın bültenlerine ve duyurularına erişmek için tıklayın!">
<meta name="twitter:image" content="https://www.alternatifbank.com.tr/uploads/201906271524521054.png">

<link rel="stylesheet" href="https://alternatifbank-assets.mncdn.com/dist/styles.css?v=1.0.5">
<link rel="stylesheet" href="https://alternatifbank-assets.mncdn.com/dist/typographycdn.css">

<link rel="icon" href="https://alternatifbank-assets.mncdn.com/images/head/favicon.png">
<link rel="shortcut" href="https://alternatifbank-assets.mncdn.com/images/head/favicon.png">
<link rel="apple-touch-icon" href="https://alternatifbank-assets.mncdn.com/images/head/60x60.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://alternatifbank-assets.mncdn.com/images/head/76x76.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://alternatifbank-assets.mncdn.com/images/head/120x120.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://alternatifbank-assets.mncdn.com/images/head/152x152.png">





</head>
<body>
    <div id="app">
        
<app-download-app inline-template>
    <div id="downloadApp" class="download-app" v-if="!isCached" :class="{ show: !isCached }">
        <div class="row">
            <div class="col-2 text-center icon-container">
                <div class="icon"></div>
            </div>
                <div class="content col-6">
                    <b>Alternatif Bank Mobil</b><br>Alternatif Bank A.Ş.<br><br>Ücretsiz İNDİR -
                    <span v-if="isMobileApp == 'iphone'">App Store'da</span>
                    <span v-if="isMobileApp == 'android'">Play Store'da</span>
                    <span v-if="isMobileApp == 'huawei'">Huawei Store'da</span>
                </div>
                <a href="https://www.alternatifbank.com.tr/mobil-indir?utm_source=alternatifbank&utm_medium=mobil-indir-landing-page" class="show"><span>İndir</span></a>
        </div>
        <div id="closeAppDownload" class="closeButton" @click="onDownloadAppClose()">
            <span class="icon-close"></span>
        </div>
    </div>
</app-download-app>
<app-header inline-template>
    <header class="header" :class="{'nav-active': isNavActive, 'has-close': hasClose}">
        <div class="header-inner">
            <nav class="secondary" role="navigation" aria-label="bankacılık işlemleri">
                <ul>
                        <li>
                            <a href="/atm" target="_self" 
                            aria-label="ATM ve Şubeler">
                                    <span class="icon-branch"></span>
                                ATM ve Şubeler
                            </a>
                        </li>
                        <li>
                            <a href="/bilgi-merkezi" target="_self" 
                            aria-label="Bilgi Merkezi">
                                    <span class="icon-search"></span>
                                Bilgi Merkezi
                            </a>
                        </li>
                        <li>
                            <a href="/bize-ulasin/iletisim-formu" target="_self" 
                            aria-label="İletişim Formu">
                                    <span class="icon-email"></span>
                                İletişim Formu
                            </a>
                        </li>
                        <li>
                            <a href="/bilgi-merkezi/urun-ve-hizmet-ucretleri" target="_self" 
                            aria-label="&#220;r&#252;n ve Hizmet &#220;cretleri">
                                    <span class="icon-product-price"></span>
                                &#220;r&#252;n ve Hizmet &#220;cretleri
                            </a>
                        </li>
                        <li>
                            <a href="/en" target="_self" 
                            aria-label="ingilizceye ge&#231;">
                                    <span class="icon-language"></span>
                                EN
                            </a>
                        </li>
                </ul>
            </nav>

            <div class="primary">
                
                <button type="button" aria-label="men&#252;y&#252; a&#231;" class="nav-button ah-m" @click="navOpen()"></button>
                
                <button type="button" aria-label="arama b&#246;l&#252;m&#252;n&#252; a&#231;" class="search-button-mobile ah-m" @click="onSearch()"></button>
                <a href="/" class="logo">Alternatif Bank</a>

                <nav role="navigation">
                        <ul>
                                <li>
                                    <a href="/bireysel" class="dektop-action">Bireysel</a>
                                    <a class="mobile-action">Bireysel</a>
                                        <div class="submenu">
                                            <div class="container">
                                                <div class="outer">
                                                    <div class="inner">
                                                        <div class="list-wrapper">
                                                            <ul>
                                                                    <li>
                                                                        <a href="https://www.alternatifbank.com.tr/mobil-indir " rel="nofollow">
                                                                            <img src="https://alternatifbank-media.mncdn.com/2023091309210387.jpg" />
                                                                            <div class="text">
                                                                                <span>VOV Hesap A&#231;ın</span>
                                                                                <p>Alternatif Bank VOV Hesap&#39;ın Avantajlı Faiz Oranıyla Bol Bol Kazanın! </p>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="https://www.alternatifbank.com.tr/bireysel/krediler/yeni-dijital-kredi " rel="nofollow">
                                                                            <img src="https://alternatifbank-media.mncdn.com/2024091817115999.jpg" />
                                                                            <div class="text">
                                                                                <span>Anında, Hızlı ve Kolay Kredi</span>
                                                                                <p>M&#252;şteri olmanıza gerek kalmadan, anında kredi fırsatından faydalanarak ihtiya&#231;larınızı karşılayın. </p>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/bireysel/alternatif-cok-cok " rel="">
                                                                            <img src="https://alternatifbank-media.mncdn.com/202604071008453.jpg" />
                                                                            <div class="text">
                                                                                <span>Alternatif &#199;ok&#199;ok</span>
                                                                                <p>Ayrıcalıklar D&#252;nyasını Keşfedin! </p>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                            </ul>
                                                        </div>
                                                        <div class="list-wrapper">
                                                            <ul>
                                                                    <li class="only-mobile"><a href="/bireysel">Bireysel Anasayfa</a></li>
                                                                    <li class=""><a href="/bireysel/mevduat">Mevduat &#220;r&#252;nleri</a></li>
                                                                    <li class=""><a href="/bireysel/alternatif-cok-cok">Alternatif &#199;ok&#199;ok</a></li>
                                                                    <li class=""><a href="/bireysel/bireysel-kartlar">Kartlar</a></li>
                                                                    <li class=""><a href="/bireysel/krediler">Kredi &#220;r&#252;nleri</a></li>
                                                                    <li class=""><a href="/bireysel/dijital-bankacilik">Dijital Bankacılık</a></li>
                                                                    <li class=""><a href="/bireysel/yatirim-urunleri">Yatırım &#220;r&#252;nleri</a></li>
                                                                    <li class=""><a href="/bireysel/odemeler-ve-hizmetler">&#214;demeler</a></li>
                                                                    <li class=""><a href="/bireysel/sigorta-ve-emeklilik">Sigorta ve Emeklilik</a></li>
                                                                    <li class=""><a href="/bireysel/engelsiz-bankacilik">Engelsiz Bankacılık</a></li>
                                                                    <li class=""><a href="/bireysel/private-banking">Private Banking</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </li>
                                <li>
                                    <a href="/kurumsal" class="dektop-action">Kurumsal</a>
                                    <a class="mobile-action">Kurumsal</a>
                                        <div class="submenu">
                                            <div class="container">
                                                <div class="outer">
                                                    <div class="inner">
                                                        <div class="list-wrapper">
                                                            <ul>
                                                                    <li>
                                                                        <a href="/kurumsal/dis-ticaret-finansmani " rel="">
                                                                            <img src="https://alternatifbank-media.mncdn.com/202304131757290.jpg" />
                                                                            <div class="text">
                                                                                <span>Dış Ticaret Finansmanı</span>
                                                                                <p>Dış Ticaret Finansmanıyla İlgili Her T&#252;rl&#252; İhtiyacınız Alternatif Bank&#39;ta! </p>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/kurumsal/nakit-yonetimi/pos-ve-uye-isyeri-hizmetleri " rel="">
                                                                            <img src="https://alternatifbank-media.mncdn.com/2023041317541667.jpg" />
                                                                            <div class="text">
                                                                                <span>POS ve &#220;ye İşyeri Hizmetleri</span>
                                                                                <p>İşletmenizin İhtiyacına Y&#246;nelik Hizmetlerimiz Hakkında Bilgi Alın! </p>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/kurumsal/nakit-yonetimi/odeme-cozumleri " rel="">
                                                                            <img src="https://alternatifbank-media.mncdn.com/2023100308561453.png" />
                                                                            <div class="text">
                                                                                <span>&#214;deme &#199;&#246;z&#252;mleri</span>
                                                                                <p>Alternatif Bank’la kurumsal &#246;demelerinizi g&#252;venle yapın! </p>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                            </ul>
                                                        </div>
                                                        <div class="list-wrapper">
                                                            <ul>
                                                                    <li class="only-mobile"><a href="/kurumsal">Kurumsal Anasayfa</a></li>
                                                                    <li class=""><a href="/kurumsal/kredi-urunleri">Kredi &#220;r&#252;nleri</a></li>
                                                                    <li class=""><a href="/kurumsal/dis-ticaret-finansmani">Dış Ticaret Finansmanı</a></li>
                                                                    <li class=""><a href="/kurumsal/kartlar">Kartlar</a></li>
                                                                    <li class=""><a href="/kurumsal/nakit-yonetimi">Nakit Y&#246;netimi</a></li>
                                                                    <li class=""><a href="/kurumsal/mevduat">Mevduat</a></li>
                                                                    <li class=""><a href="/kurumsal/riskten-korunma">Riskten Korunma</a></li>
                                                                    <li class=""><a href="/kurumsal/kurumsal-finansman-ve-yatirim-bankaciligi">Kurumsal Finansman</a></li>
                                                                    <li class=""><a href="/kurumsal/sigortalar">Sigorta ve Emeklilik</a></li>
                                                                    <li class=""><a href="/kurumsal/leasing">Leasing</a></li>
                                                                    <li class=""><a href="/kurumsal/yatirim-urunleri">Yatırım &#220;r&#252;nleri</a></li>
                                                                    <li class=""><a href="/kurumsal/dijital-bankacilik">Dijital Bankacılık</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </li>
                                <li>
                                    <a href="/kampanyalar" class="dektop-action">Kampanyalar</a>
                                    <a class="mobile-action">Kampanyalar</a>
                                </li>
                                <li>
                                    <a href="/hakkimizda" class="dektop-action">Hakkımızda</a>
                                    <a class="mobile-action">Hakkımızda</a>
                                </li>
                                <li>
                                    <a href="/blog" class="dektop-action">Blog</a>
                                    <a class="mobile-action">Blog</a>
                                </li>
                        </ul>
                                                 <div class="mobile-slider">
                                <div class="container">
                                    <div class="mobile-carousel">
                                        <menu-slider inline-template>
                                            <section class="header-slider">
                                                <carousel class="items" ref="slider" :options="options">
                                                        <a href="https://www.alternatifbank.com.tr/mobil-indir">
                                                            <img src="https://alternatifbank-media.mncdn.com/2023091317494590.jpg" />
                                                            <div class="text">
                                                                <span>VOV Hesap A&#231;ın</span>
                                                            </div>
                                                        </a>
                                                        <a href="https://dijital.alternatifbank.com.tr/?kredibasvuru">
                                                            <img src="https://alternatifbank-media.mncdn.com/2025042817250679.jpg" />
                                                            <div class="text">
                                                                <span>Dijital Kredi</span>
                                                            </div>
                                                        </a>
                                                </carousel>
                                            </section>
                                        </menu-slider>
                                    </div>
                                </div>
                             </div>


                        <div class="secondary-mobile">
                            <div class="container">
                                <ul>
                                        <li><a href="/atm" class="no-arrow"><span class="icon-branch"></span>ATM ve Şubeler</a></li>
                                        <li><a href="/bilgi-merkezi" class="no-arrow"><span class="icon-search"></span>Bilgi Merkezi</a></li>
                                        <li><a href="/bize-ulasin/iletisim-formu" class="no-arrow"><span class="icon-email"></span>İletişim Formu</a></li>
                                        <li><a href="/bilgi-merkezi/urun-ve-hizmet-ucretleri" class="no-arrow"><span class="icon-product-price"></span>&#220;r&#252;n ve Hizmet &#220;cretleri</a></li>
                                        <li><a href="/en" class="no-arrow"><span class="icon-language"></span>EN</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="tertiary-mobile">
                                <div class="container">
                                    <div class="customer">
                                        <img src="https://alternatifbank-media.mncdn.com/2023041314570827.png" alt="/" />
                                        <a href="https://www.alternatifbank.com.tr/mobil-indir" class="button-1">G&#246;r&#252;nt&#252;l&#252; G&#246;r&#252;şme ile M&#252;şteri Olun</a>
                                    </div>
                                </div>
                            <div class="container" style="display:none;">
                                <h5>Daha Fazla Nasıl Yardımcı Olabiliriz?</h5>
                                <ul>
                                        <li>
                                            <span class="icon-mobile-phone"></span>
                                            <div class="text">
                                                <h6>Bize Ulaşın</h6>
                                                <p><a href="#">İletişime Ge&#231;</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="icon-pin"></span>
                                            <div class="text">
                                                <h6>Alternatif Bank Noktaları</h6>
                                                <p><a href="#">ATM ve Şubeler</a></p>
                                            </div>
                                        </li>
                                            <li>
                                                <span class="icon-share"></span>
                                                <div class="text">
                                                    <h6>Bizi Takip Edin</h6>
                                                    <ul class="social">
                                                            <li>
                                                                <a href="#" class="icon-instagram" aria-label="instagram"></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="icon-facebook" aria-label="facebook"></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="icon-twitter" aria-label="twitter"></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="icon-youtube" aria-label="youtube"></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="icon-linkedin" aria-label="linkedin"></a>
                                                            </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        <li>
                                            <span class="icon-call-center"></span>
                                            <div class="text">
                                                <h6>Bize Ulaşın</h6>
                                                <p><a href="tel:+904440055" class="phone">444 00 55</a></p>
                                            </div>
                                        </li>
                                </ul>
                            </div>
                        </div>
                </nav>

                <button type="button" aria-label="Aramayı A&#231;" class="search-button ah-d" @click="onSearch()"></button>
                    <div class="sticky-actions" :class="''">
                        <a data-link-url="https://online.alternatifbank.com.tr/Login/FirstLevel" data-target="_blank" id="popup-opener"  class="online-button online button-1 sm"><span class="icon icon-palace"></span>İnternet Şubesi</a>
                            <a href="https://www.alternatifbank.com.tr/mobil-indir" class="customer-button customer button-1 sm"><span class="icon icon-customer"></span>Müşteri Ol</a>
                    </div>

                <button type="button" aria-label="kapat" class="nav-close-button ah-m" @click="onClose()"></button>
            </div>

        </div>
    </header>
</app-header>

        <div id="main">
                    <!--Start: promo -->
            <!-- promo start-->




<section class="component-promo">
    <div class="bg" style="background-image:url(https://alternatifbank-media.mncdn.com/201908021408531430.png);"></div>
    <div class="bg-mobile" style="background-image:url(https://alternatifbank-media.mncdn.com/201908021408531431.png);"></div>
        <div class="breadcrumb">
            <div class="container">
                <ul>
                        <li><a href="/hakkimizda">Hakkımızda</a></li>
                        <li><a href="/hakkimizda/basin-odasi">Basın Odası</a></li>
                    <li><a href="#">Basın B&#252;ltenleri ve Duyurular</a></li>
                </ul>
            </div>
        </div>
            <div class="container">
            <div class="outer">
                <div class="inner">
                    <div class="card-promo reverse">
                                <h1>Basın B&#252;ltenleri ve Duyurular</h1>

<p>Alternatif Bank basın bülteni ve duyuruları ile görsel kaynaklarına ulaşabilirsiniz.</p>                                            </div>
                </div>
            </div>
        </div>
</section>            <!-- promo end -->         <!--End: promo -->        
        <!--Start: global_card_list -->
            <!-- global_card_list start-->



<section class="component-card-content centered" data-url="">
    <div class="container">
        <div class="outer">
                    <div class="heading">
                        <div class="heading-inner">
                            <h2>
                                Basın B&#252;lteni ve Duyurular
                            </h2>
                        </div>

                            <div class="filter">
                                <form-select-label id="currentPageYear" :value="0" @input="navigate('?year=' + $event)">
                                    <li role="option" value="0">T&#252;m&#252;</li>
                                        <li role="option" value="2026">2026</li>
                                        <li role="option" value="2025">2025</li>
                                        <li role="option" value="2024">2024</li>
                                        <li role="option" value="2023">2023</li>
                                        <li role="option" value="2022">2022</li>
                                        <li role="option" value="2021">2021</li>
                                        <li role="option" value="2020">2020</li>
                                        <li role="option" value="2019">2019</li>
                                        <li role="option" value="2018">2018</li>
                                </form-select-label>
                            </div>
                    </div>
                            <div class="items">
                        <div class="item">

<div class="card-detail-page">
    <div class="text">

            <h3>Alternatif Bank’tan Yeni Müşterilere Özel %2,49’dan Başlayan İhtiyaç Kredisi Fırsatı! </h3>
                                <div class="actions">
                        <a href="/hakkimizda/basin-odasi/basin-bultenleri-ve-duyurular/alternatifbank-yeni-musterilere-ozel-2-49-kredi" target="_self" class="link-2">Detaylı Bilgi Al</a>
                                            <span class="date">14 Mayıs 2026</span>
                </div>
    </div>
</div>
                        </div>
                        <div class="item">

<div class="card-detail-page">
    <div class="text">

            <h3>Alternatif Bank, İlk Çeyrekte 139 Milyar TL Aktif Büyüklüğe Ulaştı </h3>
                                <div class="actions">
                        <a href="/hakkimizda/basin-odasi/basin-bultenleri-ve-duyurular/alternatifbank-ilk-ceyrekte-139-milyar-tl-aktif-buyukluge-ulasti" target="_self" class="link-2">Detaylı Bilgi Al</a>
                                            <span class="date">07 Mayıs 2026</span>
                </div>
    </div>
</div>
                        </div>
                        <div class="item">

<div class="card-detail-page">
    <div class="text">

            <h3>Alternatif Bank’a Kurumsal, Ticari Bankacılık ve Dış Ticarette 3 Uluslararası Ödül! </h3>
                                <div class="actions">
                        <a href="/hakkimizda/basin-odasi/basin-bultenleri-ve-duyurular/alternatif-banka-uc-uluslararasi-odul" target="_self" class="link-2">Detaylı Bilgi Al</a>
                                            <span class="date">05 Mayıs 2026</span>
                </div>
    </div>
</div>
                        </div>
                        <div class="item">

<div class="card-detail-page">
    <div class="text">

            <h3>Alternatif Bank, Müşteri Deneyiminin Geleceğini Farklı Sektörlerden Liderlerle Ele Aldı </h3>
                                <div class="actions">
                        <a href="/hakkimizda/basin-odasi/basin-bultenleri-ve-duyurular/alternatif-bank-musteri-deneyiminin-gelecegini-farkli-sektorlerden-liderlerle-ele-aldi" target="_self" class="link-2">Detaylı Bilgi Al</a>
                                            <span class="date">06 Nisan 2026</span>
                </div>
    </div>
</div>
                        </div>
                        <div class="item">

<div class="card-detail-page">
    <div class="text">

            <h3>Alternatif Bank, Mart Ayına Yayılan Etkinliklerle “Birlikte Daha Eşit” Dedi </h3>
                                <div class="actions">
                        <a href="/hakkimizda/basin-odasi/basin-bultenleri-ve-duyurular/alternatif-bank-birlikte-daha-esit" target="_self" class="link-2">Detaylı Bilgi Al</a>
                                            <span class="date">02 Nisan 2026</span>
                </div>
    </div>
</div>
                        </div>
                        <div class="item">

<div class="card-detail-page">
    <div class="text">

            <h3>Alternatif Bank, Kurumsal ve Ticari Bankacılıkta  2025 Yılını Güçlü Büyümeyle Tamamladı </h3>
                                <div class="actions">
                        <a href="/hakkimizda/basin-odasi/basin-bultenleri-ve-duyurular/alternatif-bank-kurumsal-ve-ticari-bankacilikta-2025-yilini-guclu-buyumeyle-tamamladi" target="_self" class="link-2">Detaylı Bilgi Al</a>
                                            <span class="date">26 Şubat 2026</span>
                </div>
    </div>
</div>
                        </div>
                        <div class="item">

<div class="card-detail-page">
    <div class="text">

            <h3>Alternatif Bank'tan Dış Ticaret Finansmanında Asya Kalkınma Bankası'yla Önemli İş Birliği </h3>
                                <div class="actions">
                        <a href="/hakkimizda/basin-odasi/basin-bultenleri-ve-duyurular/alternatif-bank-dis-ticaret-finansmaninda-asya-kalkinma-bankasiyla-onemli-is-birligi" target="_self" class="link-2">Detaylı Bilgi Al</a>
                                            <span class="date">20 Şubat 2026</span>
                </div>
    </div>
</div>
                        </div>
                        <div class="item">

<div class="card-detail-page">
    <div class="text">

            <h3>Alternatif Bank, 2025 Yıl Sonunda 127 Milyar TL’yi Aşan Aktif Büyüklüğe Ulaştı </h3>
                                <div class="actions">
                        <a href="/hakkimizda/basin-odasi/basin-bultenleri-ve-duyurular/alternatif-bank-2025-yil-sonunda-127-milyar-tlyi-asan-aktif-buyukluge-ulasti" target="_self" class="link-2">Detaylı Bilgi Al</a>
                                            <span class="date">19 Şubat 2026</span>
                </div>
    </div>
</div>
                        </div>
                        <div class="item">

<div class="card-detail-page">
    <div class="text">

            <h3>Alternatif Bank’tan 200 Milyon Dolarlık Eurobond İhracı </h3>
                                <div class="actions">
                        <a href="/hakkimizda/basin-odasi/basin-bultenleri-ve-duyurular/alternatif-bank-200-milyon-dolarlik-eurobond-ihraci" target="_self" class="link-2">Detaylı Bilgi Al</a>
                                            <span class="date">06 Şubat 2026</span>
                </div>
    </div>
</div>
                        </div>
                        <div class="item">

<div class="card-detail-page">
    <div class="text">

            <h3>Alternatif Bank, Dijital/Mobil Kanallarda  Masrafsız Bankacılık Deneyimi Sunmaya Devam Ediyor </h3>
                                <div class="actions">
                        <a href="/hakkimizda/basin-odasi/basin-bultenleri-ve-duyurular/alternatif-bank-masrafsiz-bankacilik-deneyimi" target="_self" class="link-2">Detaylı Bilgi Al</a>
                                            <span class="date">21 Ocak 2026</span>
                </div>
    </div>
</div>
                        </div>

                </div>
                                <div class="pagination-outer">
                        <div class="pagination">
                            <a href="javascript:;" class="prev disabled"></a>
                            <form-select :value="1" @input="navigate('?page=' + $event)">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                            </form-select>
                            <a href="?page=2" class="next "></a>
                        </div>
                    </div>


        </div>
    </div>
</section>
            <!-- global_card_list end -->         <!--End: global_card_list -->        



            
        </div>

            <div class="become-customer">
                <div class="inner">
                    <img src="https://alternatifbank-media.mncdn.com/2025012313525171.png" alt="customer-agent" />
                    <a href="https://www.alternatifbank.com.tr/mobil-indir" rel="nofollow">M&#252;şteri Ol</a>
                </div>
            </div>






        
<footer>
    <div class="container">
            <section class="primary">
                <h3>Daha Fazla Nasıl Yardımcı Olabiliriz?</h3>
                <ul>
                        <li>
                            <span class="icon-mobile-phone"></span>
                            <div class="text">

                                <h4>Bize Ulaşın</h4>
                                        <p><a href="/bize-ulasin">İletişime Ge&#231;</a></p>
                            </div>
                        </li>
                        <li>
                            <span class="icon-pin"></span>
                            <div class="text">

                                <h4>Hizmet Noktaları</h4>
                                        <p><a href="/atm">ATM ve Şubeler</a></p>
                            </div>
                        </li>
                        <li>
                            <span class="icon-share"></span>
                            <div class="text">

                                <h4>Bizi Takip Edin</h4>
                                        <ul class="social alter-social-links">
                                                <li><a href="https://www.instagram.com/alternatifbank/" target="_blank" rel="nofollow" class="icon-instagram" 
                                                aria-label="instagram"></a></li>
                                                <li><a href="https://www.facebook.com/Alternatifbank" target="_blank" rel="nofollow" class="icon-facebook" 
                                                aria-label="facebook"></a></li>
                                                <li><a href="https://twitter.com/Alternatifbank" target="_blank" rel="nofollow" class="icon-iconx" 
                                                aria-label="twitter"></a></li>
                                                <li><a href="https://www.youtube.com/AlternatifBankTR" target="_blank" rel="nofollow" class="icon-youtube" 
                                                aria-label="youtube"></a></li>
                                                <li><a href="https://www.linkedin.com/company/alternatifbank/" target="_blank" rel="nofollow" class="icon-linkedin" 
                                                aria-label="linkedin"></a></li>
                                                <li><a href="https://www.tiktok.com/discover/alternatif-bank" target="_blank" rel="nofollow" class="icon-tiktok" 
                                                aria-label="tiktok"></a></li>
                                        </ul>
                            </div>
                        </li>
                        <li>
                            <span class="icon-call-center"></span>
                            <div class="text">

                                <h4>Bizi Arayın</h4>
                                        <p><a href="tel:4440055" class="phone">444 00 55</a></p>
                            </div>
                        </li>
                </ul>
            </section>

        <section class="secondary">
                <nav>
                    <ul>
                            <li><a href="/kurumsal" rel="">KURUMSAL</a></li>
                            <li><a href="/bireysel" rel="">BİREYSEL</a></li>
                            <li><a href="/hakkimizda" rel="">HAKKIMIZDA</a></li>
                            <li><a href="/insan-kaynaklari" rel="">İNSAN KAYNAKLARI</a></li>
                            <li><a href="/bilgi-merkezi" rel="">BİLGİ MERKEZİ</a></li>
                            <li><a href="/kampanyalar" rel="">KAMPANYALAR</a></li>
                            <li><a href="/blog" rel="">BLOG</a></li>
                    </ul>
                </nav>
                <nav>
                        <h5>FAYDALI LİNKLER</h5>
                    <ul>
                            <li><a href="/bilgi-merkezi/hesaplama-araclari/kredi-hesapla" rel="">Kredi Hesaplayıcı</a></li>
                            <li><a href="/kurumsal/nakit-yonetimi/pos-ve-uye-isyeri-hizmetleri" rel="">POS ve &#220;ye İş Yeri Hizmetleri</a></li>
                            <li><a href="/bireysel/mevduat" rel="">Mevduat Hesapları</a></li>
                            <li><a href="/bireysel/krediler/ihtiyac-kredisi" rel="">İhtiya&#231; Kredisi</a></li>
                            <li><a href="/kurumsal/nakit-yonetimi" rel="">EFT/Havale &#199;&#246;z&#252;mleri</a></li>
                            <li><a href="https://www.alternatifbank.com.tr/mobil-indir" rel="nofollow">VOV Hesap Başvurusu</a></li>
                            <li><a href="/bilgi-merkezi/faiz-oranlari" rel="">Faiz Oranları</a></li>
                            <li><a href="/gayrimenkul" rel="">Satılık Gayrimenkuller</a></li>
                            <li><a href="/hakkimizda/yatirimci-iliskileri" rel="">Yatırımcı İlişkileri</a></li>
                            <li><a href="/bireysel/engelsiz-bankacilik" rel="">Engelsiz Bankacılık</a></li>
                            <li><a href="/bize-ulasin/iletisim-formu" rel="">İletişim Formu</a></li>
                    </ul>
                </nav>
            <div class="mobile-app">
                <h5>ALTERNATİF BANK MOBİL</h5>
                <button data-fancybox data-src="#download-modal">
                    Hemen İndir
                    <span class="icon-apple"></span>
                    <span class="icon-android"></span>
                </button>
                <a href="https://blindlook.com/eyebrand-profile/alternatif_bank" target="_blank" rel="nofollow"><img src="https://alternatifbank-assets.mncdn.com/images/layout/brand-eye.png" alt="blindlook adresine git" /></a>
            </div>
        </section>
        <section class="tertiary">
            <div class="top">
                <a href="https://blindlook.com/eyebrand-profile/alternatif_bank" target="_blank" rel="nofollow"><img src="https://alternatifbank-assets.mncdn.com/images/layout/brand-eye.png"alt="blindlook adresine git" /></a>
                <ul>
                        <li><a href="/site-haritasi" rel="">Site Haritası</a></li>
                        <li><a href="/gizlilik-sozlesmesi" rel="">Gizlilik</a></li>
                        <li><a href="/cerez-politikasi" rel="">&#199;erez Kullanımı</a></li>
                        <li><a href="/bilgi-merkezi/sozlesmeler-ve-formlar/kisisel-verileri-isleme-politikamiz" rel="">Kişisel Verilerin Korunması</a></li>
                        <li><a href="/bilgi-merkezi/bankacilik-hizmetlerimiz/zaman-asimi-listeleri" rel="">Zaman Aşımı Sorgulama</a></li>
                        <li><a href="/" rel="" class="efl-edit">&#199;erez Tercihlerinizi Y&#246;netin</a></li>
                        <li><a href="/bgys-politikasi" rel="">BGYS Politikası</a></li>
                </ul>
                <div class="external">
                        <a href="https://www.alternatifmenkul.com.tr/" rel="nofollow" class="menkul" aria-label="Alternatif Menkul"></a>
                        <a href="https://www.alternatiflease.com.tr/" rel="nofollow" class="lease" aria-label="Alternatif Lease"></a>
                </div>
            </div>
            <div class="bottom">
                <div class="institution">Commercial Bank (Katar) kuruluşudur.</div>
                <div class="copyright">
                    <a href="https://e-sirket.mkk.com.tr/esir/Dashboard.jsp#/sirketbilgileri/10130" rel="nofollow" target="_blank">Bilgi Toplumu Hizmeti</a>
                    <span>Alternatifbank A.Ş &#169; 2026</span>
                </div>
            </div>
        </section>
    </div>
</footer>


        
<main-search inline-template url="/ajax/search?lang=tr">
    <div class="main-search"
         :class="{'active': isActive, 'show-results': results.length}"
         @keyup.esc="isActive = false"
         tabindex="0">
        <div class="overlay" @click="isActive = false"></div>
        <div class="form">
            <a href="/" class="logo" aria-label="anasayfa"></a>
            <form action="/arama">
                <div class="container">
                    <div class="outer">
                        <div class="inner" role="search">
                            <button type="submit" class="submit" aria-label="ara"></button>
                            <input type="hidden" name="lang" value="tr" />
                            <label for="page-search" class="sr-only">Aramak istediğiniz kelimeyi giriniz</label>
                            <input type="text"
                                   id="page-search"
                                   name="query"
                                   placeholder="Aramak istediğiniz kelimeyi giriniz"
                                   v-model="query"
                                   ref="input">
                            <button type="button"
                                    class="clear"
                                    v-if="query"
                                    @click="onClear()"></button>
                            <div class="results">
                                <div class="list">
                                    <h6>&#214;nerilenler</h6>
                                    <div class="list-inner">
                                        <ul>
                                            <li v-for="item in resultsFirst">
                                                <a :href="item.url" @click="onResultClick(item.text)">{{ item.text }}</a>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li v-for="item in resultsSecond">
                                                <a :href="item.url" @click="onResultClick(item.text)">{{ item.text }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                    <div class="cta">
                                            <a href="https://dijital.alternatifbank.com.tr/?gclid=EAIaIQobChMIhZuqhL6E4wIVSKWaCh2zWAdYEAAYASAAEgJJ4vD_BwE#!/vov" target="_blank">
Mevduat <br><br>Başvurusu                                            </a>
                                            <a href="https://www.alternatifbankdinersclub.com/tr/kartlar/basvur" target="_self">
Diners<br><br>Club                                            </a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main-search>

        
<div id="download-modal">
    <download-modal inline-template url="/ajax/send-sms">
        <div class="download-modal">
            <div class="phone-outer">
                <div class="phone-inner">
                    <div class="phone"></div>
                </div>
            </div>
            <div class="text">
                <h6>Alternatif Bank Mobil’i <br> Hemen İndirin</h6>
                <p>QR kodu okutarak Alternatif Bank Mobil uygulamasını hemen indirebilirsiniz.</p>
                <div class="form">
                    <img class="qr" src="https://alternatifbank-assets.mncdn.com/images/layout/qr-code.png" alt="qr code">
                        <img class="phone" src="https://alternatifbank-assets.mncdn.com/images/layout/Sky-Body.png" alt="phone"/>
                </div>
                <div class="download">
                    <a href="https://play.google.com/store/apps/details?id=tr.com.alternatifbank.vov" class="download-button google-play">Google Play&#39;den Alın</a>
                    <a href="https://apps.apple.com/nz/app/alternatif-bank/id6453521320" class="download-button app-store">App Store&#39;dan İndirin</a>
                    <a href="https://appgallery.huawei.com/app/C109983861" class="download-button huawei">AppGallery ile keşfedin</a>
                </div>
            </div>
        </div>
    </download-modal>
</div>
<!--<div id="welcome-modal">
    <div class="welcome-modal">
        <div class="gif-wrapper">
            <img src="/assets/images/layout/welcome_07112019.gif">
        </div>
        <div class="welcome-content">
            <div class="text">
                <h3>Yenilenen Web Sitemize Hoş Geldiniz.</h3>
                <p>”Danışman Bankacılık” anlayışımızla sunduğumuz &#252;r&#252;n ve hizmetlerle t&#252;m ihtiya&#231;larınızda yanınızdayız.</p> 
                <a href="javascript:;" class="button-1">Keşfet</a>
             </div>
        </div>
    </div>
</div>-->
        
<div id="download-modal-2">
    <download-modal inline-template url="/ajax/send-sms">
        <div class="download-modal">
            <div class="phone-outer">
                <div class="phone-inner">
                    <div class="phone"></div>
                </div>
            </div>
            <div class="text">
                <h6>Alternatif Bank Mobil’i <br> Hemen İndirin</h6>
                <p>QR kodu okutarak Alternatif Bank Mobil uygulamasını hemen indirebilirsiniz.</p>
                <div class="form">
                    <img class="qr" src="https://alternatifbank-assets.mncdn.com/images/layout/qr-code-second.png" alt="qr code">
                        <img class="phone" src="https://alternatifbank-assets.mncdn.com/images/layout/Sky-Body.png" alt="phone" />
                </div>
                <div class="download">
                    <a href="https://play.google.com/store/apps/details?id=tr.com.abank.dijital&amp;hl=tr" class="download-button google-play">Google Play&#39;den Alın</a>
                    <a href="https://apps.apple.com/tr/app/alternatif-bank-mobil/id961094444?l=tr" class="download-button app-store">App Store&#39;dan İndirin</a>
                    <a href="https://appgallery.huawei.com/app/C102595597" class="download-button huawei">AppGallery ile keşfedin</a>
                </div>
            </div>
        </div>
    </download-modal>
</div>
<!--<div id="welcome-modal">
    <div class="welcome-modal">
        <div class="gif-wrapper">
            <img src="/assets/images/layout/welcome_07112019.gif">
        </div>
        <div class="welcome-content">
            <div class="text">
                <h3>Yenilenen Web Sitemize Hoş Geldiniz.</h3>
                <p>”Danışman Bankacılık” anlayışımızla sunduğumuz &#252;r&#252;n ve hizmetlerle t&#252;m ihtiya&#231;larınızda yanınızdayız.</p>
                <a href="javascript:;" class="button-1">Keşfet</a>
             </div>
        </div>
    </div>
</div>-->


        
    </div>

    
<script  nonce="tk7YmL4qIk6OM4ltX9fkvA" src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer></script>
<script  nonce="tk7YmL4qIk6OM4ltX9fkvA" src="/assets/dist/app.bundle.js?v=1.0.3"></script>



<script nonce="tk7YmL4qIk6OM4ltX9fkvA">
  (function (m, c, g, connect) {
   var s = m.createElement(c);
   s.type = g;
   s.async = true;
   s.src = connect;
   m.getElementsByTagName('head')[0].appendChild(s);
   s.onload = function () {
     window.dataroid.init(
       '0f770da5-faaa-11f0-88d6-e1aa2e6447ad',
       'https://alternatifbank.api.dataroid.com',
       '1.0.0',
       'AlternatifBank',
       {
         Push: {
           enabled: true,
           "firebaseOptions": {
               "apiKey": "AIzaSyAHXyEzq9H5yQYIYcMZT-HKWXOaNGMMwyk",
               "projectId": "alternatifbank-web-dataroid",
               "messagingSenderId": "862372092482",
               "appId": "1:862372092482:web:10c113404828f9730e6bdb"
           },
           vapidKey: 'BKz9NIX53V5umlyu-n-MClzA43DOa6sJKOfrbaKHPFDl9fDWy85miivy_uCY0_GJq7TRoUfiMzbpRH17hW3KW-s',
           swPath: '/service-worker.js',
           swScope: '/',
           onNotificationButtonClick: function (buttonId) {}
         },
         AutoCapture: {
           ComponentInteraction: {
             enabled: true
           }
         }
       },
     );
   };
  })(
   document,
   'script',
   'text/javascript',
   'https://cdn.dataroid.com/sdk/web/dataroid-websdk.js'
  );
</script>

</body>
</html>